RemoteSystemsTempFiles/
Vivado/.Xil/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
Packages/
PetaLinux/offline.txt
VitisAccel/*_workspace/
VitisAccel/*_container/
VitisAccel/kernels/build/
Vivado/ip/build/
bootimages/
PetaLinux/offline.txt
# UPDATER START
Vivado/zcu104/
PetaLinux/zcu104/
Vivado/zcu106/
PetaLinux/zcu106/
Vivado/zcu106_hpc0/
PetaLinux/zcu106_hpc0/
Vivado/pynqzu/
PetaLinux/pynqzu/
Vivado/genesyszu/
PetaLinux/genesyszu/
Vivado/uzev/
PetaLinux/uzev/
# UPDATER END
