*.log
*.jou
Vivado/.Xil/
Vivado/*.str
Vivado/genesyszu/
Vivado/pynqzu/
Vivado/uzev/
Vivado/zcu102_hpc0/
Vivado/zcu102_hpc1/
Vivado/zcu104/
Vivado/zcu106_hpc0/
Vivado/zcu106_pcie/
Vitis/.*/
Vitis/.*
Vitis/boot/
Vitis/*_workspace/
RemoteSystemsTempFiles/
PetaLinux/genesyszu/
PetaLinux/pynqzu/
PetaLinux/uzev/
PetaLinux/zcu102_hpc0/
PetaLinux/zcu102_hpc1/
PetaLinux/zcu104/
PetaLinux/zcu106_hpc0/
PetaLinux/zcu106_pcie/
docs/build/
Packages/
bootimages/
PetaLinux/offline.txt
VitisAccel/*_workspace/
VitisAccel/*_container/
VitisAccel/kernels/*/_x/
VitisAccel/kernels/*/xo/

